{% macro from(post) %}
    <a href="{{ post.url }}">
        <div class="post-card">
            <div class="thumbnail">
                <img src="/blog/img/{{ post.data.thumbnail }}" alt="post thumbnail"/>
            </div>
            <div class="info">
                <h2>{{ post.data.title }}</h2>
                <p>{{ post.data.description }}</p>
            </div>
        </div>
    </a>
{% endmacro %}