{% macro from(project) %}
    <div class="project-card">
        <a href="{{ project.url }}">
            <div class="thumbnail">
                <img src="/projects/{{ project.data.title|replace(" ","_") }}/img/thumb.png" alt="project thumbnail" class="{%if project.data.title=="ad exec"%}pixelated{%endif%}"  />
            </div>
            <div class="info">
                <h2>{{ project.data.title }}</h2>
                <p>{{ project.data.description }}</p>
            </div>
        </a>
        <div class="links">
            {% if project.data.link %}
                <a href="{{ project.data.link }}" target="_blank">view</a>
                {% if project.data.repo %}|{% endif %}
            {% endif %}
            {% if project.data.repo %}
                <a href="{{ project.data.repo }}" target="_blank">repo</a>
            {% endif %}
            {% if project.data.blog %}
                {% if project.data.repo or project.data.link %}|{% endif %}
                <a href="/blog/tags/{{ project.data.blog | lower}}">devlog</a>
            {% endif %}
        </div>
    </div>
{% endmacro %}
