{% macro from(project) %}
    <div class="project-card">
        <a href="{{ project.url }}">
            <div class="thumbnail">
                <img src="/projects/img/{{ project.data.thumbnail }}" alt="project thumbnail"/>
            </div>
            <div class="info">
                <h2>{{ project.data.title }}</h2>
                <p>{{ project.data.description }}</p>
            </div>
        </a>
        <div class="links">
            <a href="{{ project.data.link }}">check it out</a>
            <a href="{{ project.data.repo }}">repo</a>
        </div>
    </div>
{% endmacro %}