<!DOCTYPE html>
<html lang="en" data-theme="light">
    <script>
        document.querySelector("html").setAttribute("data-theme", localStorage.getItem("theme") || "light");
    </script>
    <head>
        <link
        rel="stylesheet" href="{{ '/assets/css/styles.css' | url }}"> <!-- eleventy-plugin-metagen -->
        {%- set alt -%}
        {%- include "src/projects/"+project|replace(" ","_")+"/img/thumb.alt" -%}
        {%- endset -%}
        {% metagen 
            title=title + " - bytemunch.dev",
            desc=description or "sam's portfolio + blog",
            url="https://bytemunch.dev"+page.url,
            img="/projects/"+project|replace(" ","_")+"/img/thumb.png",
            img_alt=  alt,
            twitter_card_type="summary_large_image",
            twitter_handle="bytemunch",
            name="Sam Edelsten",
            generator="eleventy",
            comments=true %}
    </head>
    <body>
        <div id="main">
            <div class="title">
                <h1>
                    <a href="/">bytemunch<span class="title-secondary">dot</span>dev</a>
                    {%- if tags and ("post" in tags or "blog-page" in tags) -%}
                        <a href="/blog" class="title-location">
                            <span class="title-secondary">slash</span>blog</a>
                    {%- endif -%}
                    {%- if tags and ("projects" in tags or "projects-page" in tags) -%}
                        <a href="/projects" class="title-location">
                            <span class="title-secondary">slash</span>projects</a>
                    {%- endif -%}
                </h1>
                <p
                    id="theme-switch"
                    href="javascript:void(0)"
                    onclick=" let theme = localStorage.getItem('theme') || 'light'; document.querySelector('#theme-switch').textContent =
                        theme; theme = theme == 'light' ? 'dark' : 'light'; localStorage.setItem('theme',theme);
                        document.querySelector('html').setAttribute('data-theme',theme); ">
                    theme toggle</p>
                <script>
                    let theme = localStorage.getItem('theme') || 'light';
                    document.querySelector('#theme-switch').textContent = theme == 'light'
                        ? 'dark'
                        : 'light';
                </script>
            </div>
            {{ content | safe }}
        </div>
    </body>
</html>
