---
layout: base
title: project
tags: [projects]
---

<div class="project-header">
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
    <img src="./img/thumb.png" alt="{{ title }} thumbnail" class="thumb"/>
</div>
{{ content|safe }}
{% if link %}
    <a href="{{ link }}">check it out</a>
    {% if repo %}|{% endif %}
{% endif %}
{% if repo %}
    <a href="{{ repo }}">repo</a>
{% endif %}