---
layout: base
title: project
tags: [projects]
---

<h1>{{ title }}</h1>
<p>{{ description }}</p>
{{ content|safe }}
{% if link %}
    <a href="{{ link }}">check it out</a> {%if repo%}|{%endif%}
{% endif %}
{% if repo %}
    <a href="{{ repo }}">repo</a>
{% endif %}