---
layout: base
title: blog
tags: [blog-page, page]
pagination:
    data: collections.post
    size: 7
    reverse: true
---

{% include "partials/blog_search.njk" %}
{% include "partials/blog_paginate.njk" %}
{% for post in pagination.pages[pagination.pageNumber] %}
    {% import 'macros/post_card.njk' as post_card %}
    {{ post_card.from(post) }}
{% endfor %}
{% include "partials/blog_paginate.njk" %}