---
title: home
layout: base
---

<h2>about</h2>
<p>i'm sam. developer. minimalist. parent; naptime coder.</p>
<a href="projects">
    <h2>projects</h2>
</a>
<p>recent projects</p>
<div id="projects">
    {% set arr = collections.projects | reverse %}
    {% for i in range(0,3) %}
        {% if arr[i] %}
            {% import 'macros/project_card.njk' as project_card %}
            {{ project_card.from(arr[i]) }}
        {% endif %}
    {% endfor %}
</div>
<a href="projects" class="see-more">see more...</a>
<a href='blog'>
    <h2>blog</h2>
</a>
<p>recent posts</p>
<div id="recent-posts">
    {% set arr = collections.post | reverse %}
    {% for i in range(0,2) %}
        {% if arr[i] %}
            {% import 'macros/post_card.njk' as post_card %}
            {{ post_card.from(arr[i]) }}
        {% endif %}
    {% endfor %}
</div>
<a href="blog" class="see-more">see more...</a>
<div id="funding" class="closed">
    <h2 onclick=" let div = document.querySelector('#funding'); let h2 = document.querySelector('#funding h2'); if
            (div.classList.contains('closed')) { div.classList.remove('closed'); h2.textContent = 'funding ▲'; } else {
            div.classList.add('closed'); h2.textContent = 'funding ▼'; } ">
        funding ▼</h2>
    <p>i currently have a time budget of ~15hrs/week, and a cost budget of virtually nothing. my time budget will only be
        getting smaller once my little one goes to nursery, as i'll be going back to work. if you would like to support my
        projects, please
        <a href="https://monzo.me/samueljamesedelsten">stick some cash in my pocket</a>. put your @ in the message so i know who
                                    to thank :) cheers</p>
</div>
<h2>links</h2>
<ul>
    <li>
        <a href="https://twitter.com/bytemunch">twitter</a>
        |
    </li>
    <li>
        <a href="mailto:sam@bytemunch.dev">email</a>
        |
    </li>
    <li>
        <a href="https://github.com/bytemunch">github</a>
        |
    </li>
    <li>
        <a href="https://www.youtube.com/channel/UCy-rfS-ZXLu92GwRF-XeoiA">youtube</a>
    </li>
</ul>