---
title: home
layout: base
---

<h2>about</h2>
<p>i'm sam. developer. designer. minimalist.</p>
<a href="projects">
    <h2>projects</h2>
</a>
<p>stuff i've made or am making</p>
<div id="projects">
    {% set arr = collections.projects | reverse %}
    {% for i in range(0,3) %}
        {% if arr[i] %}
            {% import 'macros/project_card.njk' as project_card %}
            {{ project_card.from(arr[i]) }}
        {% endif %}
    {% endfor %}
</div>
<a href="projects" class="see-more">see more...</a>
<a href='blog'>
    <h2>blog</h2>
</a>
<p>latest posts</p>
<div id="latest-posts">
    {% set arr = collections.post | reverse %}
    {% for i in range(0,2) %}
        {% if arr[i] %}
            {% import 'macros/post_card.njk' as post_card %}
            {{ post_card.from(arr[i]) }}
        {% endif %}
    {% endfor %}
</div>
<a href="blog" class="see-more">see more...</a>
<h2>links</h2>
<ul>
    <li>
        <a href="https://twitter.com/bytemunch">twitter</a>
        |
    </li>
    <li>
        <a href="mailto:sam@bytemunch.dev">email</a>
        |
    </li>
    <li>
        <a href="https://github.com/bytemunch">github</a>
        |
    </li>
    <li>
        <a href="https://www.youtube.com/channel/UCy-rfS-ZXLu92GwRF-XeoiA">youtube</a>
    </li>
</ul>
