---
layout: base
title: projects
tags: [projects-page, page]
description: the list of all sam's projects. the ones he's happy to share, anyways.
---

<div id="projects">
    {% set arr = collections.projects | reverse %}
    {% for proj in arr %}
        {% import 'macros/project_card.njk' as project_card %}
        {{ project_card.from(proj) }}
    {% endfor %}
</div>
