---
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /blog/tags/{{ tag | slugify }}/
layout: base
tags: [blog-page]
eleventyComputed:
  title: "tag: {{ tag }}"
description: sam's blog. may contain useful or entertaining information.
---

{%include "partials/blog_search.njk"%}

<h2>posts tagged “{{ tag }}”</h2>
{% set taglist = collections[ tag ] %}
{% for post in taglist | reverse %}
    {% import 'macros/post_card.njk' as post_card %}
    {{ post_card.from(post) }}
{% endfor %}