<form
    id="blog-search"
    onsubmit="window.location.href=`/blog/tags/${document.querySelector('#blog-search-input').value}`;"
    action="javascript:void(0)">
    <input type="text" id="blog-search-input" placeholder="tag search..."/>
    <input type="submit" value="Go"/>
</form>