{% set previousPost = collections.post|sort(false,false,"data.timestamp") | getPreviousCollectionItem(page) %}
{% set nextPost = collections.post|sort(false,false,"data.timestamp") | getNextCollectionItem(page) %}
<nav>
    <ol class='post-paginate'>
        <li>
            Previous:
            {% if previousPost %}
                <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
            {% else %}
                None
            {% endif %}
        </li>
        <li>
            Next:
            {% if nextPost %}
                <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
            {% else %}
                None
            {% endif %}
        </li>
    </ol>
</nav>